body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.mainPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    background-color: rgb(68, 139, 68);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;

}

button:hover {
    background-color: rgb(58, 129, 68);
}

.RPS {
    display: flex;
    gap: 10px;
}

.score {
    display: flex;
    gap: 15px;
    margin: 30px;
}